{% extends 'Base/base.html' %}
{% block form %}
      <div class="form-w3-agile">
        <h2 class="sub-agileits-w3layouts">登录</h2>
        <form method="POST" action="">
            {{ form.csrf_token }}
            {% if form.username.errors %}
                {{ form.username(placeholder="用户名") }}
                <div class="error-display">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(placeholder="用户名") }}
            {% endif %}

            {{ form.csrf_token }}
            {% if form.password.errors %}
                {{ form.password(placeholder="密码") }}
                <div class="error-display">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(placeholder="密码") }}
            {% endif %}
            <div class="submit-w3l">
                <input type="submit" value="登录">
            </div>
        </form>
    </div>
{% endblock %}