.right-pin {
    border-radius: 40px;
    height: 40px;
    min-width: 40px;
    position: absolute;
    right: 20px;
    background-position: right center;
    background-size: contain;

}

.error-display {
    font-size: 14px;
    color: red;
    text-align: left;
    padding-left: 10px;
}